/* 皮肤属性自定义 */
:root {
  /* 默认颜色 */
  --default-color: #d33a31;
  /* 全局背景 */
  --global-bg-color: #fff;
  /* 左侧nav菜单背景 */
  --menu-bgcolor: #ededed;
  /* 头部背景 */
  --header-bg-color: #d33a31;
  /* 头部文字颜色 */
  --header-font-color: #EFB6B2;
  /* 头部输入框的背景颜色 */
  --header-input-bgcolor: #DD6861;
  /* 头部输入框文本颜色 */
  --header-input-font-color: #EFB6B2;
  /* 底部上边框颜色 */
  --footer-border-color: #F5F5F5;
  /* popover弹窗背景颜色 */
  --popover-bg-color: #fff;
}
